<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />


    <title>Andrew Trepagnier Dot Com</title>
    <meta name="about me" content="Andrew Trepagnier's timeline of is life" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="">

    <link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Radley:400,400italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="/DjangoProjectAndrewWebsite/static/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/DjangoProjectAndrewWebsite/static/css/style.css">





</head>
<body>

  <header class="header-block row">
    <div class="blog-title">
      <a href="home.html"><h1>Andrew Trepagnier.</h1></a>
    </div>

  </header>



<section class="post-list post-content"><div class="post-data">
  <img src=""></img>
  <h1 class="post-page-title">about me.</h1>
  <p class="post-meta-data">01 July 2024</p>

    <center>
    <p> <h3>
         "Andrew produces high quality work with minimum supervision..."<br><br>
    "Through his devotion to help us wherever needed and even working overtime
    alongside us to help us meet deadlines, Andrew proved to be a team player that
    puts the overall need of the team first."
    </h3>
   <p> <b>- Weston Breland, Project Engineer /Co-op Coordinator at Ergon Refining, Inc.</b></p>
    </center>
    <br>


<hr />

<h3 id="Intro">Intro.</h3>


    <p style="text-indent: 25px;">
        Hey internet people, my name is Andrew Trepagnier and this is my website were
        you can learn more about me, stay updated on what I'm working on, or read my blog.
    </p>

    <p>
        I usually write about my thoughts on new tech, my experiences, start-ups, and alot of other really random, niche things.
    </p>

    <h3>What is this? Why?</h3>

    <p style="text-indent: 25px;">
        I built this website using <a href="https://www.djangoproject.com/start/overview/">Django</a>, the same python-based web framework that famous platforms like Instagram, Pintrest, Quora, and many more first used in development.
      </p>
    <p>
        There are a couple reasons <em>why</em> I wanted to make my own website - the <b>first</b> being I really wanted to learn
        web development, so this was the perfect personal project to start with.
    </p>
    <p>
        Any CS major would probably cringe at the backend of this site, but thats
        okay, every project of mine starts with a barely functional, horrendous proof of concept.
    </p>

    <p>
        The <b>second</b> reason - Document Control. I use this as a more permanent archive of my thoughts, blog posts, and ideas that is custom curated
        to my liking.
        </p>
    <p>
        I won't lose any of my data this way. It will stay live for as long as I live and act as a sanctuary for my stuff
        without the need for any annoying ads, aquisitions, or data breaches that get in the way of good writing.

    </p>
    <p>
        I also like keeping it very <b>minimalistic</b> and <b>dead simple</b>.
    </p>

    <h3>Okay, What next?</h3>
    <p>
        Take a look around the website! I am constantly developing, iterating, and writing.
        </p>





  <div class="author-box"><img src="/DjangoProjectAndrewWebsite/static/img/resized AT.png"></img></div>

<!--<div class="row">-->
<!--  <div class="col-md-6 paddd">-->
<!--<p><b>Prev</b>&nbsp;-->
<!--<a href="#">Beautiful</a></p>-->
<!--</div>-->
<!--<div class="col-md-6 paddd righted">-->

<!--  <p>-->
<!--  <a href="#">Webpage</a>&nbsp;<b>Next</b></p>-->
<!--</div>-->
<!--</div>-->

</section>



  <section class="footer">
    <div class="footer-inner row">

      <div class="col-md-12">

        <p class="description">
          Email: andrew.trepagnier1 [at] gmail.com
        </p>
      </div>
      <div class="col-md-12">
    <a href="/www.andrewtrepagnier.com">Home</a>&nbsp;&nbsp;
    <a href="{% url 'aboutme' %}">About</a>&nbsp;&nbsp;
    <a href="https://www.linkedin.com/in/andrewtrepagnier/">LinkedIn</a>&nbsp;&nbsp;
    <a href="{% url 'tackboard' %}">Blog</a>&nbsp;&nbsp;

          </div>


    </div>
  </section>


  <section class="copyright">&copy; 2024</section>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="/DjangoProjectAndrewWebsite/static/js/jquery-1.12.0.min.js"></script>



    <script type="text/javascript" src="/DjangoProjectAndrewWebsite/static/js/main.js"></script>
    <script type="text/javascript" src="/DjangoProjectAndrewWebsite/static/js/jquery.fitvids.js"></script>
    <script src="/DjangoProjectAndrewWebsite/static/js/bootstrap.min.js"></script>

 </body>
</html>