<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />


    <title>Andrew Trepagnier - My Webpage</title>
    <meta name="Homepage of Andrew Trepagnier Dot Com" content="Content" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="/static/img/resized AT.png">

    <link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Radley:400,400italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="/DjangoProjectAndrewWebsite/static/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/DjangoProjectAndrewWebsite/static/css/style.css">





</head>
<body>

  <header class="header-block row">
    <div class="blog-title">
      <a href="www.andrewtrepagnier.com"><h1>Andrew Trepagnier.</h1></a>
    </div>

  </header>



<section class="post-list post-content"><div class="post-data">
  <img src=""></img>
  <h1 class="post-page-title">I'm Andrew Trepagnier - I like tech, start-ups, and buidling cool things.</h1>
  <p class="post-meta-data"></p>

<h2 id="gettingstarted">Currently</h2>

<p>Mississippi State University, Ergon Refining, Inc.</p>

<h3 id="links">Previous Stuff...</h3>

    <blockquote>
  <p>2024 MSU Start-Up Summit <a href="https://ecenter.msstate.edu/summit/">Winner</a></p>
</blockquote>

    <blockquote>
  <p>2024-2025 Montgomery Leadership <a href="https://www.slce.msstate.edu/student-leadership/mlp">Scholar</a></p>
</blockquote>

<blockquote>
  <p>2020 Trinity University $108k Murchison <a href="https://www.trinity.edu/directory/departments-offices/student-financial-services/financial-aid/scholarship/murchison#:~:text=Description-,Merit%2Dbased%20scholarship%20awarded%20based%20on%20superior%20academic%20achievement.,students%20with%20distinguished%20scholastic%20records.">Scholarship</a></p>
</blockquote>


<hr />

<h3 id="advancedusage">Want to learn more?</h3>
    <p>More <a href="{% url 'aboutme' %}">about me</a></p>
    <p>I write, check it out <a href="{% url 'tackboard' %}">Here</a></p>

<!--<div class="row">-->
<!--  <div class="col-md-6 paddd">-->
<!--<p><b>Prev</b>&nbsp;-->
<!--<a href="#">Beautiful</a></p>-->
<!--</div>-->
<!--<div class="col-md-6 paddd righted">-->

<!--  <p>-->
<!--  <a href="#">Webpage</a>&nbsp;<b>Next</b></p>-->
<!--</div>-->
<!--</div>-->

</section>
  <section class="footer">
    <div class="footer-inner row">
      <div class="col-md-12">
          <div class="author-box"><img src="/DjangoProjectAndrewWebsite/static/img/resized AT.png"></img></div>

        <p class="description">
          andrew.trepagnier1 [at] gmail [dot] com
        </p>
      </div>
      <div class="col-md-12">
    <a href="#">Home</a>&nbsp;&nbsp;
    <a href="{% url 'aboutme' %}">About Me</a>&nbsp;&nbsp;
    <a href="https://www.linkedin.com/in/andrewtrepagnier/">LinkedIn</a>&nbsp;&nbsp;
    <a href="{% url 'tackboard' %}">Blog</a>&nbsp;&nbsp;

          </div>


    </div>
  </section>


  <section class="copyright">&copy; 2024</section>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="/DjangoProjectAndrewWebsite/static/js/jquery-1.12.0.min.js"></script>



    <script type="text/javascript" src="/DjangoProjectAndrewWebsite/static/js/main.js"></script>
    <script type="text/javascript" src="/DjangoProjectAndrewWebsite/static/js/jquery.fitvids.js"></script>
    <script src="/DjangoProjectAndrewWebsite/static/js/bootstrap.min.js"></script>

 </body>
</html>